<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="CSS/main.css">
</head>
    <body>


      <%# this is for the events blow the calendar%>
      <div>
      <% newEvent.forEach(function(newEvent){ %>
      <div>
        <h4 style="color: #41f4a3;">Title of the event</h4>
               <%= newEvent.title %> </h4>
      </div>
      <div>
        <h4 style="color: #41f4a3;">Location of the Event</h4>
                <%= newEvent.location %> </h4>
      </div>
      <div>
        <h4 style="color: #41f4a3;">Notes about the event</h4>
                <%= newEvent.notes %>
      </div>
      <% }) %>
      </div>



    </body>
</html>
